@media (min-width: 0px) and (max-width: 675px){

.name{
    font-size:1.7rem;
}
    
.columns {
    gap: 1em;
    flex-direction: column;
}

section,
header {
    margin-bottom: 2em;
    width: 80vw;
}

.project-screenshot{
    width:80vw;
}

}



