*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f3eeea;
  --secondary-color: #1a1a1a;
}

html {
  font-size: 16px;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background:white;
  width: 60vw;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-left:1px solid rgb(163 163 163);
  border-right:1px solid rgb(163 163 163);
}

section{
    margin-top: 4rem;
    text-align: justify;
}

footer {
  margin-top: 10rem;
  margin-bottom: 1rem;
  text-align: end;
}

a{
    color: var(--secondar-color);
    text-decoration: none;
}

a:hover{
    color: orange;    
}

p {
  font-size: 1.1rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5em;
  text-align: center;
}

.column {
  margin-top: 0.5rem;
}

.columns ul > li,
.column ul > li {
  display: inline;
}

nav {
  padding: 1rem;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.1rem;
}

.column > ul {
  list-style: none;
}

#name {
  margin-top: 0.5rem;
}

#name h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

#name h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

#profile {
  text-align: center;
}

#profile img {
  border-radius:5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border:1px solid rgb(82 82 82); 
}

h2,
#skills h3 {
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: 400;
}

h2 {
  font-weight: 500;
}

.screenshot-container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.screenshot-container img {
  max-width: 100%;
  height: auto;
  margin: 0.5rem 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border:1px solid rgb(163 163 163);
}

.project-stack {
  margin-top: 1rem;
  font-size: 1rem;
}

.project-stack span {
  font-weight: 500;
}

.oscanner {
  transition: opacity 0.5s ease-in-out;
}

.menu-icon{
  text-align: right;
}

#burger{
    display:none;
}

#burger:hover{
    color:orange;
}

.social{
    margin-top: 0.6rem;
}
.social>a{
    padding-right:0.5rem;
}

.form-container{
    width: 60%;
    margin: 0 auto;
}

#contact h3:nth-of-type(2)
{
    margin-bottom: 1rem;
}

form{
    border: 1px solid black;
    padding: 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border:1px solid rgb(163 163 163);
}


form h2{
    text-align:center;
}

form span{
    margin-top: 0.5rem;
    display:block;
    text-align: left;
}

form input,textarea{
    padding: 0.3rem;
    width: 100%;
    border:1px solid rgb(163 163 163);
}

form input[type=submit]{
    margin-top:1rem;
}

input:focus, textarea:focus, select:focus{
   outline: none;
}
